@font-face {
  font-family: "Monoton";
  src: url("../../public/assets/Monoton-Regular.ttf");
}
@font-face {
  font-family: "Righteous";
  src: url("../../public/assets/Righteous-Regular.ttf");
}
@font-face {
  font-family: "Architects Daughter";
  src: url("../../public/assets/ArchitectsDaughter-Regular.ttf");
}
@font-face {
  font-family: "Great Vibes";
  src: url("../../public/assets/GreatVibes-Regular.ttf");
}

ion-toolbar {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-secondary-contrast);
  /*!* box-shadow: 0 0 5px  #00e1ff,*/
  /*0 0 25px  #00e1ff,*/
  /*0 0 50px  #00e1ff,*/
  /*0 0 100px  #00e1ff; *!*/
}
ion-title {
}
ion-item menu {
  --background: var(--ion-color-secondary);
  /*--color:var(--ion-color-secondary-contrast);*/
}
.FormGrid ion-col {
  --ion-grid-column-padding: 20px;
}

.login-box h2 {
  font-family: "Monoton";
  margin: 0 0 30px;
  padding: 0;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 9px;

  text-align: center;
  font-weight: 100;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  /* background: rgba(250, 103, 103, 0.342); */
  background: transparent;
}
.user-box label {
  position: absolute;
  /* font-family: 'Righteous'; */
  /* font-family: 'Architects Daughter'; */
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  /* font-weight: 600; */
}

.custom {
  /* font-family: 'Righteous'; */
  /* font-family: 'Architects Daughter'; */
  font-size: 18px;

  letter-spacing: 1.5px;
  color: #fff;
  /* font-weight: 600; */
}
.Up {
  top: -25px;
}

.Down {
  top: 0;
}

.user-box input:focus ~ .Down,
.user-box input:valid ~ .Down {
  top: -20px;
  left: 0;
  color: #03e9f4;

  font-size: 16px;
  font-weight: bold;
}

.user-box input:focus ~ .Up,
.user-box input:valid ~ .Up {
  top: -25px;
  left: 0;
  color: #03e9f4;

  font-size: 16px;
  font-weight: bold;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  color: #ffffff;
  /* display: block; */
  position: relative;
  float: left;
  /* width: 100%; */
  /* height: 100px; */
}

ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  display: block;
  position: relative;
  /* font-weight: 300; */
  font-size: 16px;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 10px;
  z-index: 9;
  cursor: pointer;
  /* -webkit-transition: all 0.25s linear; */
}

ul li:hover label {
  /* color: #ffdcfc; */
  font-size: 20px;
}

ul li .check {
  display: block;
  position: absolute;
  border: 5px solid #aaaaaa;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

ul li:hover .check {
  border: 5px solid #ffffff;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: 2.4px;
  left: 2.7px;
  margin: auto;
  /* transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear; */
}

input[type="radio"]:checked ~ .check {
  border: 5px solid #03e9f4;

  box-shadow: 0 0 0 1px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

input[type="radio"]:checked ~ .check::before {
  background: #03e9f4;
}

input[type="radio"]:checked ~ label {
  color: #03e9f4;
}
.pas {
  margin-top: -20px;
  color: #ccc5c57c;
}
