@font-face {
    font-family: 'Monoton';
    src: url('../../public/assets/Monoton-Regular.ttf');
  }
@font-face {
    font-family: 'Righteous';
    src: url('../../public/assets/Righteous-Regular.ttf');
  }
@font-face {
    font-family: 'Architects Daughter';
    src: url('../../public/assets/ArchitectsDaughter-Regular.ttf');
  }

ion-toolbar {
    --background:var(--ion-color-secondary);
    --color:var(--ion-color-secondary-contrast);
    /*!* box-shadow: 0 0 5px  #00e1ff,*/
    /*0 0 25px  #00e1ff,*/
    /*0 0 50px  #00e1ff,*/
    /*0 0 100px  #00e1ff; *!*/

}
ion-title{

}
ion-item menu{
    --background:var(--ion-color-secondary);
    /*--color:var(--ion-color-secondary-contrast);*/

}
.content {
    margin:0;
    padding:0;
    font-family: sans-serif;
 
    --background: linear-gradient(#141e30, #243b55);

}
.FormGrid ion-col{
    --ion-grid-column-padding: 20px;
   
}


.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #ffffff;
  
    text-align: center;
    font-weight: bold;
}


 
 .user-box {
     position: relative;
 }
.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;

 
    font-size: 16px;
    font-weight: bold;
}
